{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "example": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "tes",
      "options": {
        "baseURL": "http://localhost:1430/v1",
        "apiKey": "your-api-key"
      },
      "models": {
        "claude-opus-4-6": {
          "name": "Claude Opus 4.6 ",
          "thinking": "max",
          "limit": {
            "context": 1000000,
            "output": 243303
          },
          "modalities": {
            "input": ["text", "image", "pdf"],
            "output": ["text"]
          }
        }
      }
    }
  }
}
